.results {
  font-size: 20px;
  line-height: 25px;
}

.submitButton {
  padding: 20px;
  display: block;
}

.gap {
  line-height: 25px;
  border: 2px solid black;
  padding: 15px;
  background-color: rgb(165, 186, 245);
  display: block;
  margin: auto;
  box-sizing: border-box;
}